<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Ecomcharge>
            <version>1.4.1</version>
        </Mage_Ecomcharge>
    </modules>
    <global>
        <models>
            <ecomcharge>
                <class>Mage_Ecomcharge_Model</class>
                <resourceModel>ecomcharge_mysql4</resourceModel>
            </ecomcharge>
            <ecomcharge_mysql4>
                <class>Mage_Ecomcharge_Model_Mysql4</class>
                <entities>
                    <api_debug><table>ecomcharge_api_debug</table></api_debug>
                    <transaction><table>ecomcharge_transaction</table></transaction>
                </entities>
            </ecomcharge_mysql4>
        </models>
		<helpers>
            <ecomcharge>
                <class>Mage_Ecomcharge_Helper</class>
            </ecomcharge>
        </helpers>
        <resources>
            <ecomcharge_setup>
                <setup>
                    <module>Mage_Ecomcharge</module>
					<class>Mage_Ecomcharge_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecomcharge_setup>
            <ecomcharge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecomcharge_write>
            <ecomcharge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecomcharge_read>
        </resources>
        <blocks>
            <ecomcharge><class>Mage_Ecomcharge_Block</class></ecomcharge>
            <payment>
                <class>Mage_Payment_Block</class>
            </payment>			
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <ecomcharge_standard>/ecomcharge/standard</ecomcharge_standard>
        </secure_url>
        <routers>
            <ecomcharge>
                <use>standard</use>
                <args>
                    <module>Mage_Ecomcharge</module>
                    <frontName>ecomcharge</frontName>
                </args>
            </ecomcharge>
        </routers>
        <translate>
            <modules>
                <Mage_EcomchargeForm>
                    <files>
                        <default>Mage_Ecomcharge.csv</default>
                    </files>
                </Mage_EcomchargeForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecomcharge>
                    <file>ecomcharge.xml</file>
                </ecomcharge>
            </updates>
        </layout>
    </frontend>
    <adminhtml>        
        <translate>
            <modules>
                <Mage_Ecomcharge>
                    <files>
                        <default>Mage_Ecomcharge.csv</default>
                    </files>
                </Mage_Ecomcharge>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <ecomcharge_standard>
				<order_status>pending</order_status>
				<active>1</active>
                <model>ecomcharge/standard</model>
                <title>Credit or debit card</title>
                <allowspecific>0</allowspecific>
            </ecomcharge_standard>
        </payment>
    </default>
</config>